
body{
height:100vh;
display:flex;
align-items:center;
justify-content:center;

background:
linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
url("../images/background.png");

background-size:cover;
background-position:center;

font-family:system-ui,-apple-system,Segoe UI,Roboto;
}

.login-card{
width:420px;
background:rgba(255,255,255,0.1);
backdrop-filter:blur(12px);
border-radius:16px;
padding:40px;
box-shadow:0 15px 40px rgba(0,0,0,0.5);
color:white;
}

.logo{
width:100px;
margin-bottom:15px;
}

.form-control{
background:rgba(255,255,255,0.15);
border:none;
color:white;
}

.form-control::placeholder{
color:rgba(255,255,255,0.7);
}

.form-control:focus{
background:rgba(255,255,255,0.2);
color:white;
}

.btn-login{
background:#ff4d00;
border:none;
font-weight:500;
}

.btn-login:hover{
background:#e64000;
}

.login-card a{
color:white;
opacity:.85;
text-decoration:none;
}

.login-card a:hover{
opacity:1;
text-decoration:underline;
}

